/*------------------------------------*\
#CSS RESET
\*------------------------------------*/
/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*------------------------------------*\
#LAYOUT
\*------------------------------------*/

body {
  background: #1C1C1C;
  min-height: 100vh;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.container {
  width: 100%;
  max-width: 550px;
  padding: 118px 52px 46px 52px;
  background: #1F2937;
}

.display {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}


/*------------------------------------*\
#TYPOGRAPHY
\*------------------------------------*/

h1 {
  color: #FFFFFF;
  width: 354px;
  font-family: Karla, sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.5rem;
  letter-spacing: -0.0625rem;
  margin-bottom: 10px;
}

h1 > span {
  color: #4ADF86;
}

h4 {
  color: #D5D4D8;
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

button {
  margin-top: 50px;
  margin-bottom: 35px;
  display: inline-flex;
  padding: 9px 17px 9px 15px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-color: rgb(83, 82, 82);
  border-width: 3px;
  border-radius: 6px;
  background: #10B981;
  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #FFF;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}

button:hover {
  background-color:#D97706;
  transition: 0.5s;
}

.icons-1 {
  width: 20px;
  height: 20px;
}

hr {
  height: 1px;
  border: none;
  background-color: #2F3E53;
  width: 100%;
  margin-bottom: 35px;
}

.outputText {
  width: 211px;
  height: 39px;
  border-radius: 6px;
  border: none;
  background: #273549;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  }


/*------------------------------------*\
#MEDIA QUERIES
\*------------------------------------*/


@media (max-width: 768px) {
  main {
    padding: 80px 32px 32px 32px;
  }

  h1 {
    width: 95%;
    font-size: 32px;
    line-height: 36px;
  }
}

@media (max-width: 480px) {
  main {
    padding: 60px 16px 16px 16px;
  }

  h1 {
    font-size: 24px;
    line-height: 28px;
  }
}


